vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Apr 2018 18:42:23 -0000
vti_author:SR|HP-I3\\Keo
vti_modifiedby:SR|HP-I3\\Keo
vti_nexttolasttimemodified:TW|12 Apr 2018 18:42:16 -0000
vti_timecreated:TR|16 May 2017 11:49:03 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|booking-enquiries.html contact-us.html rates.html 13019459\\ -\\ Namib/booking-enquiries.html 13019459\\ -\\ Namib/things-to-do.html gallery.html things-to-do.html 13019459\\ -\\ Namib/facilities.html 13019459\\ -\\ Namib/gallery.html facilities.html 13019459\\ -\\ Namib/accomodation.html 13019459\\ -\\ Namib/index.html 13019459\\ -\\ Namib/rates.html accomodation.html index.html 13019459\\ -\\ Namib/contact-us.html 13019459\\ -\\ Namib/thank-you.html 13019459\\ -\\ Namib/booking-enquiries\\ -\\ Copy.html
vti_syncwith_localhost\\c\:\\users\\keont\\documents\\v.c\\year 2\\wede\\disd2 wede 5010\\wede5010-namib guest house\\namib guest house\\expressiveweb code library\\standard template framework/c\:/users/keont/documents/v.c/year 2/wede/disd2 wede 5010/wede5010-namib guest house/namib guest house/expressiveweb code library/standard template framework:TW|16 May 2017 11:49:03 -0000
vti_cacheddtm:TX|12 Apr 2018 18:42:23 -0000
vti_filesize:IR|2665
vti_cachedlinkinfo:VX|S|../images/desert-sand-texture.jpg
vti_cachedsvcrellinks:VX|FSUS|13019459\\ -\\ Namib/images/desert-sand-texture.jpg
